body{
    background-color: #6096B4;
}
title{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

input{
    background-color: #BDCDD6;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 200px;
    border-radius: 5px;
}

button{
    background-color: #E4DCCF;
    border: 4px solid #E4DCCF;
    width: 100px;
    height: 30px;
    border-radius: 8px;
}